/* WorkSection.css */
.work-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    background-color: #333;
  }
  
  .section-title {
    margin-top: 0; /* Reset default margin */
    padding-top: 0; /* Reset default padding */
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    width: 100%;
  }
  
  .work-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .section-title {
      font-size: 26px;
      font-weight: 500;
      padding-bottom: 16px;
    }
  
    .work-item {
      width: 100%; /* Display one item per row */
    }
  }
  